:root {
  --primary: #7A1E1E;       /* Maroon - main buttons & headers */
  --background: #FFFFFF;    /* White - page background */
  --text: #111111;          /* Black - main text */
  --accent: #D4A017;        /* Gold - highlights / secondary buttons */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--text);
}

.home-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 0;
}

.home-header {
  width: 100%;
  background: white;
  padding:12px 15px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-sizing: border-box; 
}

.header-content {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap; 
}

.logo {
  width: 100px;
  flex-shrink: 0; 
  padding-left: 20px;
}

.header-text {
  display: flex; 
  flex-direction: column; 
  text-align: left;
}

.header-text h1 {
  margin: 0;
  font-size: 1.8rem;
  color: var(--primary);
}

.header-text p {
  margin: 0;
  font-size: 0.95rem;
}

.login-page, .signup-page, .viewreports {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* center vertically */
  min-height: 100vh;      /* take full screen height */
  gap: 15px;
  text-align: center; 
}

/* buttons */ 

button.btn {
  padding: 16px 36px;
  background-color: var(--primary);
  color: white;
  border-radius: 10px;
  font-size: 1.3rem; 
  transition: 0.2s; 
}

.home-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* more space between buttons */
  margin-top: 30px;
}

button.btn:hover {
  background-color: #5c1414; /* darker on hover*/ 
}

button.btn-accent { /* secondary button */ 
  background-color: var(--accent);
  color: var(--text);
  border-radius: 8px;
  font-size: 1.1rem;
  padding: 12px 28px;
 
}

button.btn-accent:hover {
  background-color: #b38c0d; /* darker gold on hover */
}

.home-footer {
  margin-top: 60px;
  font-size: 0.9rem;
  color: #555;
}
/* new styles for home buttons layout */
.top-right-buttons {
  margin-left: auto; /* push to right */
  display: flex;
  gap: 10px;
}

.glass-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  
  /* center on page */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  padding: 25px 35px;
  
  background-color: rgba(255, 255, 255, 0.5); /* more transparent */
  backdrop-filter: blur(12px); /* slightly stronger blur for effect */
  
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
/* pictures */



